.boxmodel {
    background-color: #fff6eb;
    border-radius: 25px;
    box-shadow: 8px 8px 0px bisque;
    transition: 0.5s;
    width: 373px; 
}

.boxmodel:hover {
    border-radius: 25px;
    box-shadow: 4px 4px 0px rgb(249, 138, 11);
    filter: none;
}

