.Form-Container {
    border: #ff9b24 1px solid !important;
    border-radius: 8px;
    box-shadow: #ffffff 2px;
}

.log-form input {
    background-color: #ffffff;
    border: #ff9b24 !important;
}

.log-buttons {
    padding: 10px;
    min-width: 300px;
    background-color: #ff9b24;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
    border: 0px;
}

.log-buttons:hover {
    background-color: #0eada3;
    color: white;
}

.input-icon-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #374669;
    border-radius: 5px;
    background: #fff;
    align-items: center;
    overflow: hidden;
}

.input-icon-container input {

    outline: none;
    border: none;
    background: none;
    font-size: 1em;
    padding: 0.5em;
    color: inherit;
    flex: auto 1 1;
    width: 100%;
    background-color: transparent;
}

.input-icon-container .fa-solid {
    padding: 10px;
  
}

.fa-solid.fa-eye {
    background: transparent;
    color: #080808;
}